.dataTable{
  tbody > tr > td{
    font-weight: 500;
  }
  tbody{
    &:hover{
      cursor: pointer;
    }
  }
}
.card-replace{
  position: relative;
  &:before{
    display: block;
    opacity: 1;
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: url(/assets/media/illustrations/sketchy-1/10-dark.png) center center no-repeat;
    z-index: 10;
    background-color: #fff;
    background-size: contain;
    transition: all .4s ease;
  }
}
.card-replace.active{
  &:before{
    display: none;
  }
}
:host ::ng-deep {
  .select2-container {
    .select2-selection{
      background: #f5f8fa!important;
      height: 43px!important;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    top:10px!important;
  }
  .select2-selection__rendered{
    line-height: 42px!important;
    color: #5E6278!important;
    font-size: 1.1rem!important;
    font-weight: 600!important;
    padding: 0 0 0 12px!important;
  }
  .select2-label-content{
    color: #5E6278;
    font-size: 1.1rem!important;
    font-weight: 600!important;
  }
  .select2-results__option{
    &:hover{
      .select2-label-content{
        color: #fff;
      }
    }
  }
  .select2-results__option.select2-results__option--highlighted{
    .select2-label-content{
      color: #fff;
    }
  }
}

