<div class="card">
  <!-- begin::Body-->
  <div class="card-body py-20">
    <!-- begin::Wrapper-->
    <div class="mw-lg-1000px mx-auto w-100" id="invoice">
      <!-- begin::Header-->
      <div class="d-flex justify-content-between flex-row flex-sm-row mb-10 align-items-center">
        <!--end::Logo-->
        <a href="#" class="d-block mw-150px">
          <img alt="Logo" src="/assets/media/logos/logo-1.svg" class="w-100">
        </a>
        <div class="fs-4 fw-bolder">
          <div>office@ardiexpress.com</div>
          <div>ardiexpress.com</div>
          <div>424-208-0206</div>
        </div>
        <div class="fs-4 fw-bolder">
          <!--begin::Logo-->
          <div>1590 Dan Kipper Drive</div>
          <div>Riverside, CA 92507</div>
          <!--end::Text-->
        </div>
      </div>
      <!--end::Header-->
      <!--begin::Body-->
      <div class="">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column gap-7 gap-md-10">
          <!--begin::Message-->
          <div class="fs-4 flex-root d-flex flex-column">
            <span class="fw-bolder">
              Payer:
            </span>
            <span class="">
              BOW TIE HOUSE LLC
            </span>
            <span class="">
              412 N MAIN ST STE 100
            </span>
            <span class="">
              BUFFALO, WY 82834
            </span>
            <span class="">
              Employer Identification Number:81-4611871
            </span>
          </div>
          <!--begin::Message-->
          <!--begin::Separator-->
          <div class="separator"></div>
          <!--begin::Separator-->
          <!--begin::Order details-->
          <div class="d-flex flex-column flex-sm-row gap-7 gap-md-10">
            <div class="flex-root d-flex flex-column">
              <span class="fw-bolder fs-4">Invoice №</span>
              <span class="fs-2">UKR25633452</span>
            </div>
            <div class="flex-root d-flex flex-column">
              <span class="fw-bolder fs-4">Delivery type</span>
              <span class="fs-2">Fast sea</span>
            </div>
            <div class="flex-root d-flex flex-column">
              <span class="fw-bolder fs-4">Shipment ID</span>
              <span class="fs-2">YMMU6400315</span>
            </div>
            <div class="flex-root d-flex flex-column">
              <span class="fw-bolder fs-4">Date</span>
              <span class="fs-2">30 June, 2022</span>
            </div>
          </div>
          <!--end::Order details-->
          <!--begin::Billing & shipping-->
          <div class="d-flex gap-7 gap-md-6 flex-column">
            <div class="flex-root d-flex flex-column">
              <span class="fw-bolder fs-4">Services</span>
              <span class="fs-3">
                Pick up Kyiv, Ukraine - Warehouse Hamburg
                <br>Pick up warehouse Hamburg - Seaport Hamburg
                <br>Broker fee Hamburg
                <br>Seaport fee Hamburg
                <br>Sea freight Germany - USA
                <br>Seaport fee USA
                <br>Broker fee USA
                <br>Delivery to privat warehouse: 1349 Ford rd, Bensalem, 19020 PA
              </span>
            </div>
          </div>
          <!--end::Billing & shipping-->
          <!--begin:Order summary-->
          <div class="d-flex justify-content-between flex-column">
            <!--begin::Table-->
            <div class="table-responsive border-bottom mb-9">
              <table class="table align-middle table-row-dashed fs-2 gy-5 mb-0">
                <thead>
                  <tr class="border-bottom fs-4 fw-bolder">
                  <th class="min-w-175px pb-2"></th>
                  <th class="min-w-80px text-end pb-2">Pallets QTY</th>
                  <th class="min-w-100px text-end pb-2">Boxes QTY</th>
                  <th class="min-w-100px text-end pb-2">Cbm QTY</th>
                  <th class="min-w-100px text-end pb-2">Summary $</th>
                  <th class="min-w-100px text-end pb-2">Tax fee %</th>
                  <th class="min-w-100px text-end pb-2">Total $</th>
                </tr>
                </thead>
                <tbody class="text-black">
                <!--begin::Products-->
                  <tr>
                    <!--begin::Product-->
                    <td>
                      <div class="d-flex align-items-center">
                        <!--end::Thumbnail-->
                        <!--begin::Title-->
                        <div class="ms-5">
                          <div class="fw-bolder">Logistic services</div>
                        </div>
                        <!--end::Title-->
                      </div>
                    </td>
                    <!--end::Product-->
                    <!--begin::Quantity-->
                    <td class="text-end">1</td>
                    <!--end::Quantity-->
                    <!--begin::Total-->
                    <td class="text-end">20</td>
                    <!--end::Total-->
                    <td class="text-end">2.45</td>
                    <td class="text-end">1050</td>
                    <td class="text-end">3</td>
                    <td class="text-end">1081</td>
                    <!--end::Total-->
                  </tr>
                <!--end::Grand total-->
                </tbody>
              </table>
            </div>
            <!--end::Table-->
          </div>
          <div class="d-flex justify-content-between flex-column text-center">
            <span class="fs-4 fw-bolder">Payment details</span>
          </div>
          <div class="table-responsive border-bottom mb-9">
<!--            <table class="table align-middle table-row-dashed fs-2 gy-5 mb-0">-->
<!--              <thead>-->
<!--              <tr class="border-bottom fs-4 fw-bolder">-->
<!--                <th class="min-w-80px pb-2">Payment method</th>-->
<!--                <th class="min-w-100px text-end pb-2">Account</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody class="text-black">-->
<!--              &lt;!&ndash;begin::Products&ndash;&gt;-->
<!--              <tr>-->
<!--                &lt;!&ndash;begin::Product&ndash;&gt;-->
<!--                <td>-->
<!--                  Payoneer-->
<!--                </td>-->
<!--                &lt;!&ndash;end::Product&ndash;&gt;-->
<!--                &lt;!&ndash;begin::Quantity&ndash;&gt;-->
<!--                <td class="text-end">tovstolisigor7@gmail.com</td>-->
<!--                &lt;!&ndash;end::Quantity&ndash;&gt;-->
<!--              </tr>-->
<!--              &lt;!&ndash;end::Grand total&ndash;&gt;-->
<!--              </tbody>-->
<!--            </table>-->

            <table class="table align-middle table-row-dashed fs-2 gy-5 mb-0">
              <tbody class="text-black">
              <!--begin::Products-->
              <tr>
                <td class="fs-4">Company name</td>
                <td class="text-end fs-4 fw-bolder">
                  ARDI Express LLC
                </td>
              </tr>
              <tr>
                <td class="fs-4">Account number</td>
                <td class="text-end fs-4 fw-bolder">
                  638589108
                </td>
              </tr>
              <tr>
                <td class="fs-4">Routing number</td>
                <td class="text-end fs-4 fw-bolder">
                  322271627
                </td>
              </tr>
              <tr>
                <td class="fs-4">
                  Bank name
                </td>
                <td class="text-end fs-4 fw-bolder">
                  Chase Bank
                </td>
              </tr>
              <tr>
                <td class="fs-4">
                  SWIFT
                </td>
                <td class="text-end fs-4 fw-bolder">
                  CHASUS33
                </td>
              </tr>
              <tr>
                <td class="fs-4">
                  Bank address
                </td>
                <td class="text-end fs-4 fw-bolder">
                  8807 Villa La Jolla Dr, La Jolla, CA 92037, US
                </td>
              </tr>
              <tr>
                <td class="fs-4">
                  Company address
                </td>
                <td class="text-end fs-4 fw-bolder">
                  10731 Queen Ave. , La Mesa, CA 91941, US
                </td>
                <!--end::Quantity-->
              </tr>
              <tr>
                <td colspan="2" class="fs-4 text-center">*This routing number can only be used for direct deposits and ACH transactions.
                  <br>*For wire transfers, please use routing number 021000021</td>
              </tr>
              <!--end::Grand total-->
              </tbody>
            </table>
          </div>
          <!--end:Order summary-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Body-->
      <div class="d-flex flex-column gap-7 gap-md-10">
        <div class="fs-3 text-dark text-center fw-bolder">
          * PRICES INCLUDE DUTIES, TAXES AND FEES. WITHOUT ADDITIONAL HIDDEN PAYMENTS.<br>
          * PRICE CHANGE COULD ONLY BE CAUSED BY US CUSTOMS INSPECTION.
        </div>
      </div>
      <!-- begin::Footer-->
      <!-- end::Footer-->
    </div>
    <!-- end::Wrapper-->
  </div>
  <div class="d-flex flex-stack flex-wrap mt-lg-10 pt-13 p-20 justify-content-center">
    <!-- begin::Actions-->
    <div class="my-1 me-5">
      <!-- begin::Download-->
      <button type="button" class="btn btn-success my-1" (click)="exportAsPDF('invoice')">Download</button>
      <!-- end::Download-->
    </div>
    <!-- end::Actions-->
  </div>
  <!-- end::Body-->
</div>
